.add-option-btn {
    background-color: #04AA6D; /* A nice green color */
    border: none;
    color: #ffffff;
    padding: 6px 6px; /* Adjust size with padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    transition-duration: 0.4s; /* Smooth hover transition */
}

.add-option-btn:hover {
    background-color: #008CBA; /* A different color on hover */
    color: white;
}