.parent-loader {
    width: 100%;
    display:flex;
    justify-content: center;

 }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* .show-loader{
display:block;
} */
.hide-loader{
display:none;
}
.staff-attendance-btn{
    /* position: sticky; */
    margin-top: 3vh;
}

