.forgotforce {
   display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right:0.1rem;
}
.forgotforce2 {
  color: #13C5DD !important;
}
.forcesignup {
  color: #13C5DD !important;
}