::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height for horizontal scrollbars */
}

/* Styles for the scrollbar track */
::-webkit-scrollbar-track {
  background: bg-dark; /* Color of the track */
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}